/******************************* GENERAL ************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 125%;
}


/******************************* HEADER ************************************/
h1 {
    text-align: center;
}


/******************************* MAIN ************************************/



/******************************* FOOTER ************************************/



/******************************* RESPONSIVE DESIGN ************************************/